@use 'styles/mixins.module.scss' as mxn;

.main {
  &__search {
    margin: 8px;
    display: flex;
    gap: 17px;
  }
  
  &__searchButton {
    cursor: pointer;
    @include mxn.rounded-square(36px);
    @include mxn.svgBackground('~/public/search.svg');
  } 
}
