@use 'styles/variables.module.scss' as var;
@use 'styles/mixins.module.scss' as mxn;

.recipe {
  &__contentContainer {
    background-color: var.$color-white;
    position: relative;
    padding: 18px 16px 17px 26px;
    top: -30px;
    border-radius: var.$global-border-radius;
  }
  
  &__pagesNavigation {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
  }

  &__previous {
    @include mxn.rounded-square(45px);
    @include mxn.svgBackground('~/public/back.svg')
  }
  
  &__next {
    @include mxn.rounded-square(45px);
    @include mxn.svgBackground('~/public/forward.svg')
  }

  &__title {
    font-size: 27px;
    text-align: center;
    //margin: 16px 0;
  }
  
  &__timeRating {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    margin-bottom: 25px;
  }
  
  &__timeIcon {
    @include mxn.square(18px);
    @include mxn.svgBackground('~/public/time.svg');
  }

  &__ratingIcon {
    @include mxn.square(18px);
    @include mxn.svgBackground('~/public/like.svg');
  }

  &__time, &__rating {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    align-items: center;
  }
  
  &__timeRatingText {
    @include mxn.font-medium;
    color: #3B3B3B;
    opacity: 0.3;
  }
  
  &__ingredients ul, &__instructions ol {
    padding-left: 0.8em;
  }
  
  &__instructions, &__ingredients, &__summary {
    font-family: 'Avenir-Book';
    @include mxn.font-medium;
  }
}


