@use 'styles/variables.module.scss' as var;
@use 'styles/mixins.module.scss' as mxn;

.input {
  position: relative;
  width: 100%;
  border: transparent;
  border-radius: var.$global-border-radius;
  padding: 10px;
  @include mxn.font-tiny;
  color: var.$color-black;
  background: linear-gradient(90deg, #FFF0F0 0%, #FFDFDF 100%);

  &:focus {
    background: linear-gradient(90deg, #FFBCBC 0%, #FFA1A1 100%);
    outline: none;
  }
}
