@use 'styles/variables.module.scss' as var;
@use 'styles/mixins.module.scss' as mxn;

.button {
  position: relative;
  padding-top: auto;
  padding-left: 14px;
  padding-right: 14px;
  border: var.$color-red;
  border-radius: var.$global-border-radius;
  @include mxn.font-medium;
  line-height: 25px;
  background: var.$color-red;
  color: var.$color-white;
  @include mxn.shadow;
  transition: opacity 0.3s ease-out 100ms;

  &:hover {
    opacity: 60%;
  }
}

