@use 'styles/mixins.module.scss' as mxn;

.WithLoader {
  position: relative;
}

.Loaderm_center {
  @include mxn.loader(2);
  position: relative;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
}
