$content-width: 375px; // 375-575-775 2-3-4 карточек

$color-app-background: #F5F5F5;
$color-content-background: #FFFFFF;
$color-white: #FFFFFF;
$color-pink: #FFCBCB;
$color-red: #FF0000;
$color-light-grey: #F3F3F3;
$color-dark-grey: #3B3B3B;
$color-black: #0D0D0D;
$color-bright-pink-gradient: linear-gradient(90deg, #FFF0F0 0%, #FFDFDF 100%);
$color-pink-gradient: linear-gradient(90deg, #FFBCBC 0%, #FFA1A1 100%);

$font-tiny: 12px;
$font-small: 14px;
$font-medium: 18px;

$global-border-radius: 7px;

$loader-thickness: 1.5px;