@use 'styles/variables.module.scss' as var;
@use 'styles/mixins.module.scss' as mxn;

.recipe {
  &__imageContainer {
    position: relative;
  }
  
  &__backButton {
    position: absolute;
    top: 38px;
    left: 19px;
    @include mxn.rounded-square(45px);
    opacity: 0.2;
    @include mxn.svgBackground('~/public/back.svg');
  }
  
  &__image {
    position: relative;
    width: 100%;
    object-fit: cover;
    margin: 0;
  }
}
