@use 'styles/variables.module.scss' as var;
@use 'styles/mixins.module.scss' as mxn;

.multiDropdown {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  font-family: 'Avenir', sans-serif;
  font-style: normal;
  
  &__header {
    background: linear-gradient(100deg, #FFF0F0 0%, #FFDFDF 100%);
    padding: 10px;
    margin-bottom: 2px;
    height: 16px;
    border: transparent;
    border-radius: var.$global-border-radius;
    @include mxn.font-tiny;
    line-height: 16px;
    color: var.$color-black;

    &_empty {
      opacity: 0.5;
    }
  }
}

.selected {
  background: #FFE5E5;
  padding: 10px;
  height: 16px;
  border: transparent;
  border-radius: var.$global-border-radius;
  @include mxn.font-tiny;
  color: var.$color-black;
}

.not-selected {
  @extend .selected;
  background: #FFF7F7;
  opacity: 0.8;
}
