@use 'styles/variables.module.scss' as var;
@use 'styles/mixins.module.scss' as mxn;

.notFound {
  @include mxn.content-positioning-on-page;
  background: top/contain no-repeat var.$color-content-background url(~/public/pattern.png);
  height: 100vh;

  &__text {
    padding: 10% 50% 0 10%;
    min-width: 200px;
    font-size: 20px;
  }
}
